.menus {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menus div {
    float: left;
    width:25%;
    text-align: center;
}


@media screen and (max-width: 1200px){
    .menus div
{
    width: 50%;
    max-width: 600px;
}}

@media screen and (max-width: 768px){
    .menus div
{
    width: 100%;
}}

/* 1200 -> Tablet size, 768 -> Phone Size */